@import "global.scss";

.tab-side-box{
  margin: 10px 15px;
  opacity: 1;
  .tab-side-box-title{
    font-weight: 700;
    font-size: $medium;
    margin: 10px 0px;
  }
  .tab-side-box-content{
    font-size:$small;
  }
  .tab-side-box-content-small{
    font-size:$tab-size-small;
  }
}